body {
	background-color: $main-background;  
}

header {
	display: flex;
	justify-content: flex-end;
	
	.header-menu {
		display: flex;
		justify-content: space-between;
		width: 300px;
	}
}

.main-page {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	.button-container {
		display: flex;
		justify-content: space-around;
		width: 40%;
	}
}


// Containers and positioning with flex
.items-main-container {
	display: flex;
	// border: 1px solid red;
}

.itemlist-container {
	display: flex;
	flex-direction: column;
	// border: 1px solid blue;
	padding-left: 20px;
	padding-right: 20px;
	align-items: flex-start;
}

.item-list {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;

	li {
		width: 300px;
		border-radius: 10px;
		padding: 10px;
		margin-bottom: 15px;

		img, .item-description {
			max-width: 270px;
		}
		img {
			max-height: 200px;
		}
	}
}

.item-card {
	background-color: $main-bg-light;

	&.active {
		background-color: $active-card;
	}
}

.sort-buttons-container {
	display: flex;

	.app-btn {
		margin-right: 20px;
	}
}


.view-title {
	text-align: center;
	margin-bottom: 100px;
}