// fonts & colors

$sansSerif: 'Lato', sans-serif;
$displayFont: 'Allura', cursive;

$main-background: #8D95A2;
$main-bg-light: #bdc5d3;

$main-accent: #d1d9ff;
$links: #DFB23A;
$links-light: #ffe46b;
$links-dark: #C2910E;
$links-hover: #F2F2F2;

$active-card: #F2F2F2;

$danger: #ccb9bc;

$accent: #b6b8c3;
$accent-dark: #49599a;