// fonts & colors

$sansSerif: 'Lato', sans-serif;
$displayFont: 'Allura', cursive;

$main-background: #8D95A2;
$main-bg-light: #bdc5d3;

$main-accent: #9FCED8;
$links: #DFB23A;
// $links-visited: #C2910E;
$links-hover: #F2F2F2;

$active-card: #cfd8dc;

$danger: #ccb9bc;