article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button],
input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  font-size: 62.5%; }

h1 {
  font-size: 4.8rem;
  font-family: "Allura", cursive;
  color: white;
  text-shadow: 1px 1px 3px #000;
  margin-bottom: 0;
  margin-top: 0;
  margin-left: 0; }

h2, h3, h4, h5, h6 {
  font-family: "Lato", sans-serif; }

h3 {
  font-size: 1.2rem; }

h4 {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 5px;
  margin-top: 0; }

button {
  font-size: 1.5rem; }

ul {
  list-style-type: none; }

body {
  background-color: #8D95A2; }

header {
  display: flex;
  justify-content: flex-end; }
  header .header-menu {
    display: flex;
    justify-content: space-between;
    width: 300px; }

.main-page {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }
  .main-page .button-container {
    display: flex;
    justify-content: space-around;
    width: 40%; }

.items-main-container {
  display: flex; }

.forms-container {
  display: flex;
  flex-direction: column; }

.itemlist-container {
  display: flex;
  flex-direction: column;
  padding-left: 40px;
  padding-right: 40px;
  align-items: flex-start; }

.item-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-left: 0; }
  .item-list h3 {
    margin-top: 10px;
    margin-bottom: 10px; }
  .item-list li {
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 10px;
    padding: 15px 20px;
    margin-bottom: 15px; }
    .item-list li img, .item-list li .item-description {
      max-width: 270px; }
    .item-list li img {
      max-height: 200px; }

.item-card {
  background-color: #bdc5d3; }
  .item-card.active {
    background-color: #F2F2F2; }
  .item-card:hover {
    cursor: pointer; }

.sort-buttons-container {
  display: flex; }
  .sort-buttons-container .app-btn {
    margin-right: 20px; }

.item-description {
  font-size: 1rem;
  height: 150px;
  overflow: hidden; }
  .item-description.show {
    height: auto; }

.view-title {
  text-align: center;
  margin-bottom: 50px; }

a {
  text-decoration: none;
  color: #DFB23A; }
  a:hover {
    color: #F2F2F2; }
  a:visited {
    color: #DFB23A; }

.nav-link {
  text-decoration: none;
  font-size: 1.5rem;
  padding: 10px; }
  .nav-link:hover {
    color: #F2F2F2; }

.app-btn {
  background: transparent;
  border: 2px solid black;
  border-radius: 10px;
  font-size: 1.2rem;
  margin-bottom: 5px;
  padding: 5px; }

.app-btn-filled {
  background: #d1d9ff;
  border-radius: 10px;
  font-size: 0.8rem;
  padding: 8px 10px;
  border: none;
  font-weight: bold;
  margin-top: 15px; }
  .app-btn-filled.remove {
    background: #ccb9bc;
    margin-top: 0; }
  .app-btn-filled.toggle {
    margin-top: 0; }

.btn-label {
  font-weight: bold;
  font-size: 1rem;
  margin-bottom: 10px; }

.btn-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  align-items: flex-end; }

.main-form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  font-size: 1.2rem;
  padding: 20px 10px;
  border-radius: 10px;
  background-color: #b6b8c3;
  margin-left: 20px; }
  .main-form legend {
    font-size: 1.5rem;
    display: block;
    padding-left: 0;
    margin-bottom: 12px; }
  .main-form label {
    margin-bottom: 10px; }
  .main-form input {
    margin-bottom: 20px; }
  .main-form textarea {
    margin-bottom: 20px; }
  .main-form select {
    margin-bottom: 20px; }
  .main-form.search-section {
    margin-bottom: 20px; }
    .main-form.search-section legend {
      font-size: 1.2rem;
      display: block;
      padding-left: 0;
      margin-bottom: 20px; }
    .main-form.search-section label {
      font-size: 1rem; }
    .main-form.search-section input {
      border-radius: 10px;
      border: none;
      padding: 10px;
      width: 190px;
      font-size: 1.1rem; }
    .main-form.search-section .app-btn {
      font-size: 1rem; }
